<ul class="nav flex-column">
    {foreach $items as $title => $action}
        {var $isActive = ($title|lower) == ($currentAction|lower)}
        <li n:class="nav-item, $isActive ? 'active'">
            <a n:class="nav-link, $isActive ? 'active'" href="{$action}">{$title}</a>
        </li>
    {/foreach}
</ul>