{block content}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card" style="width: 20rem;">
            <div class="card-header">
                Sign In
            </div>
            {control signInForm}
        </div>
    </div>
{/block}