{layout '../@layout.latte'}

{block content}

    <h1>{$banner->title}</h1>

    {control bannerForm}

    {if $banner->image_path}
        <img src="{$banner->image_path}" alt="Banner image">
    {/if}
{/block}

